<body class="d-flex h-100 text-center">
  <div class="container-fluid">
  <div  class="col-md-12">
    <div  class="col-md-12" id="registroUsuario">
      <strong>
        <img src="./assets/img/Hogar2.png" width="90" height="80">
        <label>Nuevo  Inmueble</label>
     </strong>
    </div>
<br />
<form [formGroup]="fgValidador" (ngSubmit)="RegistrarInmueble()" class="row g-3 needs-validation" novalidate>
    <div class="col-md-6">
        <label class="form-label"><strong>Asesor</strong></label>
        <input formControlName="asesor" type="text" class="form-control" id="asesor" required>
        <div class="invalid-feedback">
          Este campo es obligartorio
       </div>
    </div>
    <div class="col-md-6">
      <label for="country" class="form-label"><strong>Tipo Consulta</strong></label>
      <select formControlName="tipoconsulta" class="form-select" id="tipoconsulta" required>
        <option value="">Alquiler</option>
        <option value="">Compra</option>
      </select>
      <div class="invalid-feedback">
        Este campo es obligatorio.
      </div>
    </div>

   <!--<div class="col-md-6">
        <label class="form-label"><strong>Tipo Consulta</strong></label>
        <input formControlName="tipoconsulta"  type="text" class="form-control" id="tipoconsulta" required>
        <div class="invalid-feedback">
          Este campo es obligartorio
        </div>
    </div>
-->

    <div class="col-md-6">
      <label for="country" class="form-label"><strong>Tipo Inmueble</strong></label>
      <select formControlName="tipoinmueble" class="form-select" id="tipoinmueble" required>
        <option value="">Casa</option>
        <option value="">Apartamento</option>
        <option value="">Local Comercial</option>
      </select>
      <div class="invalid-feedback">
        Este campo es obligatorio.
      </div>
    </div>

   <!-- <div class="col-md-6">
        <label class="form-label"><strong>Tipo Inmueble</strong></label>
        <div class="input-group has-validation">
            <input formControlName="tipoinmueble" type="text" class="form-control" id="tipoinmueble" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
              Este campo es obligartorio
            </div>
        </div>
    </div>
-->

    <div class="col-md-6">
        <label  class="form-label"><strong>Estado</strong></label>
        <input formControlName="estado" type="text" class="form-control" id="estado" required>
        <div class="invalid-feedback">
          Este campo es obligartorio
        </div>
    </div>
    <div class="col-md-4">
      <label  class="form-label"><strong>Valor Inmueble</strong></label>
      <input formControlName="valorinmueble" type="text" class="form-control" id="valorinmueble" required>
      <div class="invalid-feedback">
        Este campo es obligartorio
      </div>

  </div>
  <div class="col-md-8">
    <label  class="form-label"><strong>Url Imagen</strong></label>
    <input formControlName="imagen" type="text" class="form-control" id="" required>
    <div class="invalid-feedback">
      Este campo es obligartorio
    </div>

</div>

    <div class="col-md-2">
        <label for="" class="form-label"></label>
        <div class="invalid-feedback">
          Este campo es obligartorio
        </div>
    </div>
  <div class="col-md-12 " id="botones">
    <button  [disabled]="!fgValidador.valid" class="btn btn-secondary fw-bold border-white" type="submit">Registrarme</button>
  </div>
</form>
</div>
  </div>
  <script type="text/javascript"   src="js/formulario.js"></script>
</body>


