<body class="d-flex h-100 text-center">
  <div class="container-fluid">
  <div  class="col-md-12">
    <div  class="col-md-12" id="registroUsuario">
      <strong>
        <img src="https://cms-assets.tutsplus.com/uploads/users/343/posts/23811/preview_image/tutsplus-icon.png" width="30" height="20">
        <label> Registro nuevo  Inmueble</label>
     </strong>
    </div>
<br />
<form [formGroup]="fgValidador" (ngSubmit)="RegistrarInmueble()" class="row g-3 needs-validation" novalidate>
    <div class="col-md-6">
        <label class="form-label"><strong>Asesor</strong></label>
        <input formControlName="asesor" type="text" class="form-control" id="asesor" required>
        <div class="invalid-feedback">
          Este campo es obligartorio
       </div>
    </div>
    <div class="col-md-6">
        <label class="form-label"><strong>Tipo Consulta</strong></label>
        <input formControlName="tipoconsulta"  type="text" class="form-control" id="tipoconsulta" required>
        <div class="invalid-feedback">
          Este campo es obligartorio
        </div>
    </div>
    <div class="col-md-6">
        <label class="form-label"><strong>Tipo Inmueble</strong></label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input formControlName="tipoinmueble" type="text" class="form-control" id="tipoinmueble" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
              Este campo es obligartorio
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <label  class="form-label"><strong>Estado</strong></label>
        <input formControlName="estado" type="text" class="form-control" id="estado" required>
        <div class="invalid-feedback">
          Este campo es obligartorio
        </div>
    </div>
    <div class="col-md-4">
      <label  class="form-label"><strong>Valor Inmueble</strong></label>
      <input formControlName="valorinmueble" type="text" class="form-control" id="valorinmueble" required>
      <div class="invalid-feedback">
        Este campo es obligartorio
      </div>

  </div>
  <div class="col-md-4">
    <label  class="form-label"><strong>Url Imagen</strong></label>
    <input formControlName="imagen" type="text" class="form-control" id="" required>
    <div class="invalid-feedback">
      Este campo es obligartorio
    </div>

</div>

    <div class="col-md-2">
        <label for="" class="form-label"></label>
        <div class="invalid-feedback">
          Este campo es obligartorio
        </div>
    </div>
    <div class="col-md-12">
      <label class="form-label"><strong>Dirección</strong></label>
      <input formControlName="direccion" type="text" class="form-control" id="direccion" required>
      <div class="invalid-feedback">
        Este campo es obligartorio
      </div>
  </div>

  <div class="col-md-12 " id="botones">
    <button  [disabled]="!fgValidador.valid" class="btn btn-secondary fw-bold border-white" type="submit">Registrarme</button>
  </div>
</form>
</div>
  </div>
  <script type="text/javascript"   src="js/formulario.js"></script>
</body>


